body {
    font-family: 'Roboto', arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin:0;
    padding:0;
}


/* Header and hero */

ul {
    display:flex;
    list-style:none;
    gap:24px;
    font-size:18px;
    color:#E5E7EB;
    margin:0;
}

.title {
    font-size:24px;
    font-weight:800;
    color:#F9FAF8;
}

ul,
.title {
    margin-top:18px;
    margin-bottom:100px;
}
.header-hero {
    background-color:#1F2937;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    padding:0px 128px 128px 128px;
}

.hero-main-text {
    font-size:48px;
    font-weight:800;
    color:#F9FAF8;
    margin-bottom:-4px;
    
}

.hero-secondary {
    font-size:18px;
    color:#E5E7EB;
    margin-top:10px;
    margin-bottom:10px;
    
}

button {
    background-color:#3882F6;
    color:white;
    width: fit-content;
    border:none;
    padding:8px;
    padding-left:32px;
    padding-right:32px;
    border-radius:8px;
    font-weight:700;
    font-size:18px;

}

.hero-text {
    display:flex;
    flex-direction:column;
    width:450px;
    justify-content:space-between;
}

.hero-image {
    padding:110px 130px;
    background-color:grey;
}

 .right {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
} 

/* information */

.information {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:100px;
}

.information-header {
    font-size:36px;
    font-weight:800;
    color:#1F2937;
    padding:40px;
}

.all-illustrations {
    display:flex;
    gap:60px;
}
.illustration-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:168px;
}

.illustration-one,
.illustration-two,
.illustration-three,
.illustration-four {
    border:4px solid #3882F6;
    border-radius:8px;
    width:168px;    
    height:160px;
    display:flex; 
    flex-shrink:0;
}

.text {
    width: 100%;
    text-align: center;
    font-size:18px;
    color:#1F2937;
    margin-top:18px;
    
}   

/* quote */

.quote-container {
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    padding:128px 256px 128px 256px;
}

.quote-text {
    font-size:36px;
    font-weight:100;
    color:#1F2937;
    margin:0;
}

.quote-author {
    color:#1F2937;
    font-weight:800;
    font-size:24px;
    margin:0;
    display:flex;
    justify-content:flex-end;
    margin-right:30px;
}

/* call to action */

.call-to-action {
    background-color:#3882F6;
    padding:64px 128px 64px 128px;
    display:flex;
    justify-content:space-between;
    margin:100px 200px 100px 200px;
    border-radius:8px;
}

.action-bold {
    color:white;
    font-weight:800;
    font-size:24px;
}

.action-text {
    color:white;
    font-size:18px;
}

.second-button {
    border:2px solid white;
    align-self:flex-start;
}

/* footer */

.footer {
    background-color:#1F2937;
    color:white;
    display:flex;
    justify-content:center;
    padding:40px;
    font-size:18px;
    font-weight:300;
}
